:root {
    --text-colour: #39FF14;
    --hover-colour: #ffbf00;
}

body {
    background-color: black;
    color: var(--text-colour);
    font-family: 'Courier New', Courier, monospace;
}

#app-root {
    display: flex;
    width: 800px;
    height: 800px;
}

#side-bar-container {
    width: 15%;
    height: 20%;
    border: #1e7c0d solid 2px;
    margin-right: 10px;
}

#side-bar-container:hover {
    border-color: var(--hover-colour);
}

#content {
    width: 85%;
    border: #1e7c0d solid 2px;
    padding-left: 25px;
    padding-right: 25px;
}

#content:hover {
    border-color: var(--hover-colour);
}