body {
    display: block;
    background-color: rgb(13, 3, 21);
}

p {
    color: aliceblue;
}

a:link, a:visited {
  color: rgb(255, 0, 85);
} 

a:hover, a:active {
  color: chartreuse;
}

.homeLink:link, .homeLink:visited {
  background-color: rgb(255, 0, 85);
  color: aliceblue;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}

.homeLink:hover, .homeLink:active {
  background-color: chartreuse;
  color: blue;
}

.centered-text { 
    text-align: center;
    color: aliceblue;
}