body {
    display: block;
    background-color: rgb(19, 3, 31);
}

p {
    color: aliceblue;
}

.homeLink:link, .homeLink:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.homeLink:hover, .homeLink:active {
  background-color: red;
}

.centered-text { 
    text-align: center;
    color: aliceblue;
}