@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #1A2A33;
  --primary-color: #2C3E44;
  --secondary-color: #5D5F47;
  --accent-color: #B07D62;
  --text-color: #eae6da;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.accent {
  background-color: var(--accent-color);
}
